.app-dynamic-sections-list {
  width: 100%;
  height: 100%;
  margin-top: 32px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  border: 1px solid var(--status-bar-bg-color);

  &__main-title-input {
    width: 100%;
    padding-right: 15px;

    border: none;
    background-color: transparent;
    color: var(--secondary-color);
  }

  &__navigation {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;

    width: 24%;
    overflow-y: scroll;
    height: 90%;
    padding: 16px;

    color: rgba(var(--secondary-color-code), 0.7);
    border: 1px solid var(--status-bar-bg-color);


    &::-webkit-scrollbar {
      height: 5px;
    }
    
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
      box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      -webkit-border-radius: 20px;
      border-radius: 20px;
    }
    
    &::-webkit-scrollbar-thumb {
      -webkit-border-radius: 20px;
      border-radius: 20px;
      background: var(--success-grad-light); 
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
      box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }
  }

  &__line {
    width: 100%;
    margin-top: 15px;
    border-bottom: 1px solid rgba(var(--secondary-color-code), 0.1);
  }

  &__section {
    width: 100%;
    overflow: hidden;
    margin-right: -14px;
    margin-bottom: 16px;
    border: 1px dashed transparent;
    border-radius: 8px;
    padding-top: 10px;
  }

  &__sections {
    padding: 0 14px;
  }

  &__buttons-container {
    display: flex;
    margin-bottom: 10px;
    margin-left: 18px;
    
    & * {
      margin-right: 16px;
    }
  
    & :last-child {
      margin-right: 0;
    }
  }

  &__content {
    width: 74%;
    padding-top: 20px;
  }

  &__titles {
    margin-top: 19px;
  }

  &__title {
    color: rgba(var(--secondary-color-code), 0.7);

    &:hover {
      cursor: pointer;
    }

    &.active {
      color: rgba(var(--secondary-color-code), 1);
      font-weight: bold;
    }
  }

  &__main-title {
    line-height: 180%;
    margin-left: 18px;
    width: calc(100% + 15px);
  }
}

.btn-dark {
  margin: 32px 0 32px 32px;
}
