<div class="policies-select">
  <ng-select 
    [(ngModel)]="selectedItem"
    class="policies-select__input fs-12-sofia-600" 
    [hideSelected]="true"
    [searchable]="false"
    (change)="handleValueChange($event)"
  >
    <ng-option class="policies-select__option" *ngFor="let item of items; let i = index" [value]="item">
      <div class="policies-select__wrapper">
        <img *ngIf="imagesPaths" [src]="imagesPaths[i]" [alt]="item">
        <p class="policies-select__text fs-14-sofia-normal">
          {{ item }}
        </p>
      </div>
    </ng-option>
  </ng-select>
</div>

