

.ng-select {

}

.ng-select.custom {
    background: rgba(var(--secondary-color-code), 0.05);
    border-radius: 8px;
    padding: 17px 21px 15px 16px;
    color: rgba(var(--secondary-color-code), 1);
    box-sizing: border-box;
    height: 48px; 
}

.black {
    color: black;
}

.red {
    color: red;
}