.btn-grad {
  background: var(--higlited-grad-light);
  border: none;
  color: var(--text-color);
  
  display: flex;
  align-items: center;

  &__img {
    margin-left: 27px;
  }

  &:hover {
    background: var(--highlited-grad-dark);
  }

  &:active {
    background: var(--higlited-grad-light);
  }
}
