.btn-light {
    border: none;
    padding: 16px;
    background: var(--input-bg-color);

    &:hover {
        background: var(--light-btn-hover);
    }

    &:active {
        background: var(--light-btn-hover);
    }
}