.module-border-wrap {
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  height: 46px;
  width: fit-content;
  padding: 1px;
  
  background: var(--success-grad-light);
  border-radius: 6px;
}

.btn-mobile.btn-app {
  height: 44px;
  border-radius: 5px;  
}

.module-opacity-wrap {
  background: var(--text-color);
  border-radius: 5px;
}

.btn-mobile {
  border: none;
  background-color: var(--text-color);
}