.donut-rounded-chart {
  width: 100%;
  max-width: 865px;
  padding: 0 7%;

  &__canvas {
    &:hover {
      cursor: pointer;
    }
  }

  &__canvas-wrapper {
    width: 300px;
    max-height: 300px;
    max-width: 300px;
    position: relative;
  }

  &__wrapper {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__main-value {
    height: 200px;
    width: 200px;
    background: var(--text-color-code);
    box-shadow: 11.1044px 11.1044px 33.3131px rgba(44, 59, 82, 0.2);
    border-radius: 50%;
    position: absolute;
    top: 55px;
    left: 50px;
    padding-top: 67px;
    text-align: center;
  }

  &__label {
    opacity: 0.5;
  }

  &__tips {
    background-color: rgba(var(--secondary-color-code), 1);
    border-radius: 12px;
    z-index: 3;
    padding: 12px;
    color: #D0DAEB;
    width: 228px;
    position: fixed;

    &:after {
      content: '';
      position: absolute;
      width: 16px;
      height: 7px;
      bottom: -6px;
      left: calc(50% - 4px);
      background: url('../../../../assets/images/triangle.png') center no-repeat;
      background-size: cover;
      z-index: 4;
    }

    &-item {
      display: flex;
      align-items: center;
      margin: 8px 0;
      width: 100%;
      justify-content: space-between;
    }

    &-text {
      display: flex;
      align-items: center;
    }
    
    &-color {
      display: block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      margin-right: 8px;
    }
  }

  &__legend {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 40%;
    max-width: 300px;
    min-width: 250px;
    column-gap: 30px;
    row-gap: 30px;

    &-item {
      display: flex;
      align-items: center;
      text-transform: uppercase;
      color: rgba(var(--secondary-color-code), 0.75);

      &:hover {
        cursor: pointer;
      }
    }

    &-color {
      border-radius: 4px;
      width: 24px;
      height: 24px;
      margin-right: 12px;
    }
  }
}

.chartjs-size-monitor {
  width: 100%;
  height: 100%;

}