.app-small-light-add-button {
  height: 38px;
  padding: 11px 16px 13px;
  border: none;
  border-radius: 6px;
  background: var(--status-bar-bg-color);
  color: var(--secondary-color);
  transition: 0.3s;

  &__image {
    margin-right: 16px;
  }

  &:hover {
    background: var(--asimetric-bg-color);
  }

  &:active {
    background: var(--status-bar-bg-color);
  }
}

.app-big-light-add-button {
  height: 38px;
  width: 100%;
  padding: 11px 16px 13px;
  border: none;
  border-radius: 6px;
  background: var(--status-bar-bg-color);
  color: var(--secondary-color);
  transition: 0.3s;
  text-align: left;

  &__image {
    margin-right: 16px;
  }

  &:hover {
    background: var(--asimetric-bg-color);
  }
}