.semicircle-chart {
  position: absolute;
  top: -20px;
  left: -33.5px;
  width: 145px;
  height: 80px;
  background: var(--card-bg-color);

  &__value {
    position: absolute;
    top: 30px;
    left: 22px;
    z-index: 3;
    color: var(--secondary-color);
  }
}

.wrapper {
  width: 80px;
  height: 80px;
  overflow: hidden;
  position: relative;
}

.apexcharts-pie-label, .apexcharts-datalabels, .apexcharts-datalabel, .apexcharts-datalabel-label, .apexcharts-datalabel-value {
  display: none!important;
}
