<div class="app-steps fs-12-sofia-400" [ngStyle]="{ 'background-color': background }">
  <div 
    *ngFor="let number of list" 
    class="app-steps__box"
    [ngStyle]="number !== list.length - 1 ? { 'width': sectionWidth } :{ 'width': '1%' }"
  >
    <div *ngIf="number !== (list.length - 1)" class="app-steps__wrapper">
      <div [ngClass]="classesDots[number]">
        <div class="app-steps__dot"></div>
        <div 
          class="app-steps__label"
          [ngStyle]="number !== 0 ? { 'text-align': 'center', 'left': '-300%' } : { 'text-align': 'left' }"
        >
          {{ titles[number] }}
        </div>
      </div>
      <div [ngClass]="classesLines[number]"></div>
    </div>
    <div *ngIf="number == (list.length - 1)" class="app-steps__wrapper">
      <div [ngClass]="classesDots[number]">
        <div class="app-steps__dot"></div>
        <div 
          class="app-steps__label"
          [ngStyle]="{ 'text-align': 'right', 'left': '-700%' } "
        >
          {{ titles[number] }}
        </div>
      </div>
    </div>
  </div>
</div>

