.chart-column {
  display: flex;
  height: 420px;

  &__container {
    width: 100%;
    height: 100%;
    padding: 32px;
    margin-top: 100px;
    position: relative;
  }

  &__list {
    display: flex;
    align-items: flex-end;
    position: relative;
    width: fit-content;
  }

  &__list-wrapper {
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    height: auto;
    display: flex;
    padding-bottom: 50px;
    scrollbar-width: thin;
    &::-webkit-scrollbar {
      height: 5px;
    }
    
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
      box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      -webkit-border-radius: 20px;
      border-radius: 20px;
    }
    
    &::-webkit-scrollbar-thumb {
      -webkit-border-radius: 20px;
      border-radius: 20px;
      background: var(--success-grad-light); 
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
      box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }
  }

  &__item {
    padding: 0 8px;
    position: relative;
  }

  &__value {
    border-radius: 10px;
    transition: 0.3s;

    &:hover {
      cursor: pointer;
      opacity: 0.9;
    }
  }

  &__grid {
    display: grid;
    width: calc(100%);
    position: absolute;
    left: 0;

    &-ceil {
      width: 100%;
      height: 100%;
      border: 0.1px solid rgba(var(--secondary-color-code), 0.05);
    }
  }

  &__yaxis {
    position: relative;
    margin-right: 30px;
  }

  &__yaxis-value {
    height: 100%;
    display: flex;
    align-items: flex-start;
    color: rgba(var(--secondary-color-code), 0.3);
  }

  &__xaxis-name {
    position: absolute;
    text-align: center;
    bottom: -55px;
    right: 0px;
    text-transform: uppercase;
    height: 40px;
    color: rgba(var(--secondary-color-code), 0.3);
  }

  &__tips {
    background-color: rgba(var(--secondary-color-code), 1);
    border-radius: 12px;
    z-index: 3;
    padding: 12px;
    color: #D0DAEB;
    width: 228px;
    position: absolute;

    &:after {
      content: '';
      position: absolute;
      width: 16px;
      height: 7px;
      bottom: -6px;
      left: calc(50% - 4px);
      background: url('../../../../assets/images/triangle.png') center no-repeat;
      background-size: cover;
      z-index: 4;
    }

    &-item {
      display: flex;
      align-items: center;
      margin: 8px 0;
      width: 100%;
      justify-content: space-between;
    }

    &-text {
      display: flex;
      align-items: center;
    }


    &-color {
      display: block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      margin-right: 8px;
    }
  }
}


