<div class="container">
  <div id="chart-column" class="chart-column">
    <div 
    class="chart-column__yaxis"

  >
    <div 
      class="chart-column__yaxis-value fs-14-gramm-400"
      [ngStyle]="{ 'height': 300/(rows)+'px' }"
      *ngFor="let rowValue of rowValues"
    >
      <span>{{ rowValue }}</span>
    </div>
  </div>
    <div class="chart-column__list-wrapper" [ngStyle]="{ 'height':  chartHeight+60+'px'}">
      <ul class="chart-column__list">
        <div
          class="chart-column__grid"
          [ngStyle]="{'grid-template-columns': 'repeat(' + data.length + ', 1fr)',  'grid-auto-rows': '75px', 'height': '300px'}"
        >
          <div class="chart-column__grid-ceil" *ngFor="let gridValue of gridValues">
          </div>
        </div>
        <li class="chart-column__item" *ngFor="let value of data; let i = index;">
          <div 
            (mouseenter)="showTips($event, i)"
            (mouseleave)="hideTips()"
            class="chart-column__value"
            [ngStyle]="{ 'background-color': colors[i], 'height': 300*value/maxValue+'px' }"
          >
          </div>
          <div class="fs-12-gramm-400 chart-column__xaxis-name">
            {{ categories[i] }}
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- <div *ngIf="isTipVisible" class="chart-column__tips" #tips>
  <ul class="chart-column__tips-list">
    <li class="chart-column__tips-item" *ngFor="let item of data; let i=index">
      <div class="chart-column__tips-text fs-12-sofia-300">
        <div class="chart-column__tips-color" [ngStyle]="{ 'background-color': colors[i] }"></div>
        {{ categories[i] }}
      </div>
      <div class="chart-column__tips-value fs-16-sofia-600">{{ data[i] }}</div>
    </li>
  </ul>
</div> -->
