@import './fonts.scss';
@import './vars.scss';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gramatica Regular', 'open-sans';
    font-size: 20px;
}

ol, ul, li {
	list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button, input {
    outline: none;

    &:hover {
        cursor: pointer;
    }
}

::placeholder {
    font-family: inherit;
}
