.btn-secondary {
    background: rgba(var(--secondary-color-code),0.05);
    color: var(--secondary-color);
    border: none;

    &__title {
        margin-left: 20px;
    }

    &:hover {
        background: rgba(var(--secondary-color-code),0.2);
    }

    &:active {
        background: rgba(var(--secondary-color-code),0.7);
        color: var(--text-color);
    }

    & > svg {
        fill: var(--secondary-color); 
        opacity: 0.5;
        fill-opacity: 1;
        transition: 0.3s;
    }

    &:active > svg { 
        opacity: 1;
        fill: var(--text-color);
    }
}