
#chartdiv {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 452px;
  position: relative;
}

.map-chart {
  &__input-container {
    width: 280px;
    margin-bottom: 24px;
  }

  &__tips {
    background-color: rgba(var(--secondary-color-code), 1);
    border-radius: 12px;
    z-index: 3;
    padding: 12px;
    color: #D0DAEB;
    width: 228px;
    position: fixed;

    &:after {
      content: '';
      position: absolute;
      width: 16px;
      height: 7px;
      bottom: -6px;
      left: calc(50% - 4px);
      background: url('../../../../assets/images/triangle.png') center no-repeat;
      background-size: cover;
      z-index: 4;
    }

    &-item {
      display: flex;
      align-items: center;
      margin: 8px 0;
      width: 100%;
      justify-content: space-between;
    }

    &-text {
      display: flex;
      align-items: center;
    }


    &-color {
      display: block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      margin-right: 8px;
      border: 1px solid #1A315F;
    }
  }
}