.btn-danger {
  color: var(--danger-color);
  background: inherit;
  outline: none;
  border: 1px solid rgba(var(--danger-color-code), 0.2);

  &:hover {
    cursor: pointer;
    background: rgba(var(--danger-color-code), 0.3);
  }

  &:active {
    background: rgba(var(--danger-color-code), 0.5);
  }
}

.btn-transparent {
  position: relative;
  padding-left: 20px;

  text-transform: uppercase;
  color: rgba(var(--secondary-color-code), 0.75);
  border: none;
  background-color: transparent;

  &:hover {
    &:after {
      content: url('../../../../assets/images/back.svg');
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.btn-success {
  position: relative;
  z-index: 2;

  background: transparent;
  border: none;
  color: var(--text-color);
  text-transform: uppercase;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    
    background: var(--success-grad-light);
    border-radius: 8px;
    transition: 0.3s;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;

    background: var(--success-grad-dark);
    border-radius: 8px;
    transition: 0.3s;
    opacity: 0;
  }

  &:hover {
    &::before {
      opacity: 0;
    }

    &::after {
      opacity: 1;
    }
  }

  &:active {
    &::before {
      opacity: 1;
    }

    &::after {
      opacity: 0;
    }
  }
}


.btn-success-asimetric {
  position: relative;
  z-index: 2;

  background: transparent;
  border: none;
  color: var(--text-color);
  text-transform: uppercase;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    
    background: var(--success-grad-light);
    border-radius: 20px 5px;
    transition: 0.3s;
  }
  
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;

    background: var(--success-grad-dark);
    border-radius: 20px 5px;
    transition: 0.3s;
    opacity: 0;
  }
  
  &:hover {
    &::before {
      opacity: 0;
    }

    &::after {
      opacity: 1;
    }
  }
  
  &:active {
      &::before {
        opacity: 1;
      }

      &::after {
        opacity: 0;
      }
    }
  }
