.tab-menu {
  display: flex;
  justify-content: flex-start;
  position: relative;

  &__item {
    width: 199px;
    height: 38px;
    padding: 12px 0;
    position: relative;

    text-align: center;
    border-radius: 0px 12px 0px 0px;
    background-color: var(--tab-bg-color);
    box-shadow: 4px 0px 24px rgba(28, 28, 28, 0.1);
    color: rgba(var(--secondary-color-code), 0.7);

    &:hover {
      cursor: pointer;
      color: rgba(var(--secondary-color-code), 1);
    }

    // &:first-child {
    //   border-radius: 12px 12px 0px 0px;
    // }

    &.active {
      background-color: var(--text-color);
      color: var(--secondary-color);
      box-shadow: none;
      z-index: 20;
      &:after {
        content: url('../../../../assets/images/Subtract.png');
        position: absolute;
        width: 15px;
        height: 15px;
        bottom: 0;
        right: -14px;
        z-index: 3;
        border-radius: 0px 0px 0px 12px;
      }
    }
  }
}