.ng-select {
    background: rgba(var(--secondary-color-code), 0.05);
    border-radius: 8px;
    color: rgba(var(--secondary-color-code), 0.5);
    box-sizing: border-box;
    height: 48px; 
    width: 100%;
    position: relative;

    &:hover {
        background: rgba(var(--secondary-color-code), 0.1);
    }

    &-container {
        width: 100%;
        height: 46px;
        margin-bottom: 4px;
    }
}

.ng-dropdown-panel {
    position: absolute;
}

.scroll-host{
    color: rgba(var(--secondary-color-code), 1);
    position: absolute;
    box-shadow: 0px 30px 70px rgba(46, 45, 79, 0.15);
    border-radius: 8px;
}

.ng-clear-wrapper {
    display: none;
}

.ng-value-container .ng-input {
    padding-left: 16px;

    & > input {

        font-family: 'Sofia pro', 'open-sans';
        font-style: normal;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        color: var(--secondary-color);
    }
}

.ng-option {
    background-color: var(--input-bg-color);
} 

.custom {
    &.ng-select {
        & > .ng-select-container {
            padding: 17px 21px 15px 16px;

            & .ng-value-container .ng-input {
                padding-left: 16px;
            }
        }
    }
 
    .ng-option {
        padding: 17px 21px 15px 16px;  
    } 
}


.custom {
    &.ng-select {
        & > .ng-select-container {
            padding: 16px 21px 15px 16px;
            
            & .ng-value-container .ng-input {
                padding-left: 16px;
                padding-right: 16px;
            }
        }
    }
    
    .ng-option {
        padding: 17px 21px 15px 16px;  
    } 
}

.custom-icon {
    &.ng-select {
        & > .ng-select-container {
            padding: 16px 21px 15px 52px;
            position: relative;

            &:after {
                content: url('../../../../../assets/images/Search.png');
                position: absolute;
                top: 13px;
                left: 16px;
                opacity: 0.5;
            }

            & .ng-value-container .ng-input {
                padding-left: 52px;
                padding-right: 16px;
            }
        }
    }
    
    .ng-option {
        padding: 17px 21px 15px 16px;  
    } 
}