.app-mutable-gradient-icon-button {
  height: 44px;
  padding: 11px 14px;
  border-radius: 8px;
  border: none;
  background-color: rgba(var(--secondary-color-code), 0.05);
}

.app-mutable-gradient-icon-button.active {
  background-color: rgba(var(--text-color-code), 0.1);
  transition: 0.3s;

  &:hover {
    background-color: rgba(var(--text-color-code), 1);
  }

  &:active {
    background-color: rgba(var(--text-color-code), 0.1);
  }
}