.btn-app {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  outline: none;
  transition: 0.3s;
  border-radius: 8px;
  &--h36 {
    height: 36px;
    padding: 10px 18px 8px 18px;
  }
  &--asimetric {
    border-radius: 20px 5px;
    height: 52px;
    padding: 18px 41px 18px 44px;
  }

  &--h46 {
    height: 46px;
    padding: 13px 19px 12px 17px;
  }

  &--h53 {
    padding: 9px 50px;
    height: 53px;
  }
}
