<div class="card-with-columns-text">
  <p class="card-with-columns-text__title fs-14-gramm-400">{{ title }}</p>
  <div class="card-with-columns-text__container">
    <div class="card-with-columns-text__left">
      <span class="card-with-columns-text__value fs-h2-b">{{ values[0] }}</span>
      <p class="card-with-columns-text__text fs-12-sofia-300">{{ texts[0] }}</p>
    </div>
    <div class="card-with-columns-text__right">
      <span class="card-with-columns-text__value fs-h2-b">{{ values[1] }}</span>
      <p class="card-with-columns-text__text fs-12-sofia-300">{{ texts[1] }}</p>
    </div>
  </div>
</div>
