.card-with-columns-text  {
  width: 256px;
  min-height: 152px;
  height: 100%;
  overflow: hidden;

  border-radius: 12px 30px;
  color: var(--secondary-color);
  padding: 8px 16px;
  background-color: var(--card-bg-color);

  &:hover {
    box-shadow: 0px 40px 70px rgba(var(--secondary-color-code), 0.3);
  }

  &__container {
    display: flex;
    align-items: flex-start;
  }

  &__left {
    width: 47%;
    margin-right: 16px;
  }

  &__right {
    width: 50%;
  }

  &__value {
    margin-bottom: 6px;
  }

  &__title {
    margin-bottom: 20px;
  }
}