.app-onboarding-component {
  position: relative;
  color: var(--secondary-color);

  &__list {
    display: flex;
    flex-direction: column;
    
    & * {
      margin-bottom: 23px;
    }
  
    & :last-child {
      margin-bottom: 0;
    }
  }
}