<h3 class="fs-h3">Create your account</h3>
<div class="app-form-screen-first__container"> 
  <div class="app-form-screen-first__column">   
    <app-form-input
      [placeholderText]="'First Name'"
    > 
    </app-form-input> 
    <app-form-input
      [placeholderText]="'Email'"
    > 
    </app-form-input>    
    <app-form-input
      [placeholderText]="'Password'"
    > 
    </app-form-input>        
  </div>
  <div class="app-form-screen-first__column">   
    <app-form-input
      [placeholderText]="'Last Name'"
    > 
    </app-form-input> 
    <app-select-input-simple
      [initialValue]="'This account is for:'"
      [items]="['My current company', 'My clients company']"
    >
    </app-select-input-simple>   
    <app-form-input
      [placeholderText]="'Confirm Password'"
    > 
    </app-form-input> 
  </div>
</div>
