<div 
  class="app-customized-element"
  (mouseenter)="setIsVisibleButtonsBlock(true)"
  (mouseleave)="setIsVisibleButtonsBlock(false)"
>
  <h3 class="app-customized-element__title fs-h3">Privacy policy overview</h3>
  <p class="app-customized-element__text fs-16-sofia-300">
    We are committed to protecting and respecting your privacy. This policy explains how we use any personal 
    information that you provide to us through our Secure Privacy.
  </p>
  <div class="app-customized-element__content" #content>
    <ng-content></ng-content>
    <p></p>
  </div>
  <div
    class="app-customized-element__buttons-container"
    *ngIf="isVisibleButtonsBlock"
  >
    <app-small-light-add-button
      [title]="'Add table'"
      [classes]="'app-small-light-add-button fs-14-gramm-400-light'"
      (click)="addTable()"
    >
    </app-small-light-add-button>
    <app-small-light-add-button
      [title]="'Add a paragraph'"
      [classes]="'app-small-light-add-button fs-14-gramm-400-light'"
    >
    </app-small-light-add-button>
    <app-small-light-add-button
      [title]="'Add list'"
      [classes]="'app-small-light-add-button fs-14-gramm-400-light'"
    >
    </app-small-light-add-button>
  </div>
</div>
