.app-customized-element {
  color: var(--secondary-color);
  padding: 10px 11px 8px 18px;
  border: 1px dashed transparent;
  border-radius: 8px;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    border: 1px dashed rgba(var(--secondary-color-code), 0.5);
    border-radius: 8px;
  }

  &__title {
    margin-bottom: 18px;
  }

  &__buttons-container {
    display: flex;
    gap: 16px;
    margin-top: 16px;
  }
}

app-dynamic-table {
  margin-top: 16px;
}