<div class="app-onboarding-component">
<!-- template for delete modal -->
  <ng-template #deleteModalContent let-titleActiveDomain="titleActiveDomain">
    <p class="fs-16-sofia-300">Do you really want to delete the <strong>{{titleActiveDomain}}</strong> ?</p>
  </ng-template>
<!-- template for edit modal -->
  <ng-template #editModalContent let-initialValue="initialValue">
    <app-form-input
      [placeholderText]="''"
      [isBold]="true"
      [initialValue]="initialValue"
      [name]="initialValue"
      (changeValueParentFunction)="setValue($event, 'editTitle')"
    >
    </app-form-input>
  </ng-template>
<!-- template for add modal -->
  <ng-template #addModalContent let-initialValue="initialValue">
    <p class="app-onboarding-component__input-title fs-16-sofia-300">Domain name</p>
    <app-form-input
      [placeholderText]="'example.com'"
      [isBold]="true"
      [initialValue]="initialValue"
      [name]="initialValue"
      (changeValueParentFunction)="setValue($event, 'addTitle')"
    >
    </app-form-input>
    <p class="app-onboarding-component__input-title fs-16-sofia-300">Domain</p>
    <app-form-input
      [placeholderText]="'optiona'"
      [isBold]="true"
      [initialValue]="initialValue"
      [name]="initialValue"
      (changeValueParentFunction)="setValue($event, 'addText')"
    >
    </app-form-input>
  </ng-template>

  <div class="app-onboarding-component__top">
    <p class="fs-h1">Domains</p>
    <app-simple-button 
      [classes]="'btn-app--asimetric btn-success-asimetric fs-16-sofia-800'"
      [title]="'Add domain'"
      (click)="handleAdd()"
    >
    </app-simple-button>
  </div>
  <div class="app-onboarding-component__buttons" *ngIf="selected.length > 1">
    <div class="app-onboarding-component__buttons--left">
      <app-checkbox-mutable-gradient
      [onActive]="false"
      [isChecked]="domains.length === selected.length"
      [id]="selectAll"
      (handleChange)="selectAll()"
      >
      </app-checkbox-mutable-gradient>
      <p *ngIf="selected.length" class="fs-18-sofia-600">
        Seletcted {{ selected.length }} domain{{ selected.length > 1 ? 's' : '' }}
      </p>
    </div>
    <div class="app-onboarding-component__buttons--right">
      <app-domains-svg-button
        [svgPath]="'assets/images/download.svg'"
        [borderColor]="'#D0DAEB'"
        [bgColor]="'transparent'"
        [bgColorHover]="'#D0DAEB'"
        [svgColor]="'url(#paint0_linear)'"
        [isStroke]="false"
      >
      </app-domains-svg-button>
      <app-domains-svg-button
        [svgPath]="'assets/images/basket.svg'"
        [borderColor]="''"
        [bgColor]="'rgb(234, 45, 45, 0.1)'"
        [bgColorHover]="'rgb(234, 45, 45, 0.3)'"
        [svgColor]="'rgb(234, 45, 45, 1)'"
        [isStroke]="true"
        (click)="handleDeleteSeveral()"
      >
      </app-domains-svg-button>
    </div>
  </div>
  <ul class="app-onboarding-component__list">
    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let domain of domains" cdkDrag>
        <li class="app-onboarding-component__item">
          <app-onboarding-card
            [title]="domain.title"
            [text]="domain.text"
            [isSelected]="checkIsSelected(domain.id)"
            (delete)="handleDelete($event)"
            (edit)="handleEdit($event)"
            (select)="changeSelectedList($event)"
            (duplicate)="duplicateDomain($event)"
            [id]="domain.id"
          >
          </app-onboarding-card>
        </li>
      </div>
    </div>
  </ul>
  <div *ngIf="isModalVisible">
    <app-approve-modal
      [title]="modalTitle"
      [dangerButtonTitle]="modalDangerButtonTitle"
      [primaryButtonTitle]="modalPrimaryButtonTitle"
      (closeModal)="closeModal()"
      (primaryButtonFunction)="modalPrimaryButtonFunction()"
      (dangerButtonFunction)="modalDangerButtonFunction()"
    >
    <ng-container 
        *ngTemplateOutlet="modalComponent;context:ctx">
    </ng-container>
    </app-approve-modal>
  </div>
</div>
