<div class="app-onboarding-card"
  (mouseenter)="setOnActive(true)"
  (mouseleave)="setOnActive(false)"
  [ngStyle]="{'background': cardColor }"
  #block
>
  <div class="app-onboarding-card__wrapper">
    <app-checkbox-mutable-gradient
      [onActive]="onActive"
      [isChecked]="isSelected"
    >
    </app-checkbox-mutable-gradient>
    <div class="app-onboarding-card__text-box"
      [ngStyle]="{'flex-direction': isMobile ? 'column' : 'row' }"
    >
      <p [ngStyle]="{'color': textColor}" class="app-onboarding-card__title fs-18-sofia-600">{{ title }}</p>
      <p [ngStyle]="{'color': textColor}" class="app-onboarding-card__text fs-18-sofia-300-simple">{{ text }}</p>
    </div>
  </div>
  <div class="app-ondoarding-card__wrapper" *ngIf="isMobile">
    <button 
      type="button"
      class="app-onboarding-card__toggler"
      (click)="setIsVisibleOptions()"
    >
      <svg-icon 
        [src]="'assets/images/menu/Options.svg'"
        [svgStyle]="{'fill': '#011949' }"
      >
      </svg-icon>
    </button>
    <div class="app-onboarding-card__mobile-box" *ngIf="isVisibleOptions">
      <button 
        class="app-onboarding-card__mobile-button fs-16-gramm-300" 
        type="button"
        (click)="handleEdit()"
      >
        Edit
      </button>
      <button 
        class="app-onboarding-card__mobile-button fs-16-gramm-300" 
        type="button"
        (click)="handleShowReports()"
      > 
        Reports
      </button>
      <button 
        class="app-onboarding-card__mobile-button fs-16-gramm-300" 
        type="button"
        (click)="handleCopy()"
      > 
        Copy
      </button>
      <button 
        class="app-onboarding-card__mobile-button fs-16-gramm-300" 
        type="button"
        (click)="handleDelete()"
      >
        Delete
      </button>
    </div>
  </div>
  <div class="app-onboarding-card__wrapper" *ngIf="!isMobile">
    <app-mutable-primary-button
      [title]="'edit'"
      [onActive]="onActive"
      (click)="handleEdit()"
    >
    </app-mutable-primary-button>
    <app-mutable-primary-button
      [title]="'reports'"
      [onActive]="onActive"
      (click)="handleShowReports()"
    >
    </app-mutable-primary-button>
    <app-mutable-gradient-icon-button
      [svgPath]="'assets/images/copy.svg'"
      [onActive]="onActive"
      (click)="handleCopy()"
    >
    </app-mutable-gradient-icon-button>
    <app-mutable-danger-button
      [svgPath]="'assets/images/basket.svg'"
      [onActive]="onActive"
      (click)="handleDelete()"
    >
    </app-mutable-danger-button>
  </div>
</div>
