.app-onboarding-card {
  padding: 15px 24px 13px;
  width: 100%;
  background: transparent;
  border: 1px solid rgba(var(--secondary-color-code), 0.15);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--secondary-color);
  position: relative;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__text-box {
    display: flex;
    margin-left: 26px;
  }

  &:hover {
    cursor: pointer;
    background: var(--success-grad-light);
    color: var(--text-color);
  }

  &__title {
    margin-right: 16px;
  }

  &__text {
    opacity: 0.6;
  }

  &__mobile-box {
    position: absolute;
    right: 0;
    bottom: -170%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
    background-color: rgba(var(--text-color-code), 1);
    border: 1px solid rgba(var(--secondary-color-code), 0.15);
    border-radius: 12px;
    padding: 10px 20px;
  }

  &__mobile-button {
    border: none;
    background-color: transparent;
    color: rgba(var(--secondary-color-code), 0.7);
    padding: 5px;

    &:active {
      background: var(--success-grad-light);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__toggler {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
  }
}

app-mutable-primary-button {
  margin-right: 16px;
}

app-mutable-gradient-icon-button {
  margin-right: 14px;
}