
@font-face {
  font-family: 'Sofia pro';
  src: url("./assets/fonts/sofiapro-light.otf");
}


@font-face {
  font-family: 'Gramatica Regular';
  src: url("./assets/fonts/Gramatica-Regular.ttf");
}

@font-face {
  font-family: 'Gramatica Bold';
  src: url("./assets/fonts/Gramatica-Bold.ttf");
}

.fs-h3 {
  font-family: 'Sofia pro', 'open-sans';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: var(--secondary-color);
}

.fs-18-sofia-300 {
  font-family: 'Sofia pro', 'open-sans';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: rgba(var(--secondary-color-code), 0.75);
}

.fs-16-gramm-300 {
  font-family: 'Gramatica Bold', 'open-sans';
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 12px;
}

.fs-16-sofia-500 {
  font-family: 'Sofia pro', 'open-sans';
  font-style: normal;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.fs-16-sofia-300 {
  font-family: 'Sofia pro', 'open-sans';
  font-style: normal;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
}

.fs-16-sofia-800 {
  font-family: 'Sofia pro', 'open-sans';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  text-transform: uppercase;
}

.fs-14-sofia-300 {
  font-family: 'Sofia pro', 'open-sans';
  font-style: normal;
  font-weight: 300;
  font-weight: normal;
  font-size: 14px;
}

.fs-14-gramm-normal {
  font-family: 'Gramatica Bold', 'open-sans';
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
}

.fs-14-sofia-normal {
  font-family: 'Sofia pro', 'open-sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}


.fs-12-sofia-400 {
  font-family: 'Sofia pro', 'open-sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
}

.fs-12-gramm-400 {
  font-family: 'Gramatica Bold', 'open-sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}

.fs-10-sofia-300 {
  font-family: 'Sofia pro', 'open-sans';
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
}
