/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Sofia Pro';
    src: url("./assets/fonts/sofiapro-light.otf");
}

@font-face {
    font-family: 'Gramatica Regular';
    src: url("./assets/fonts/Gramatica-Regular.ttf");
}

@font-face {
    font-family: 'Gramatica Bold';
    src: url("./assets/fonts/Gramatica-Bold.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gramatica Regular', 'open-sans';
    font-size: 20px;
}

ol, ul {
	list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button, input {
    outline: none;

    &:hover {
        cursor: pointer;
    }
}