.form-input-field {
  width: 100%;
  padding-bottom: 11px;
  padding-top: 15px;
  padding-right: 16px;
  background: var(--input-bg-color);
  border: none;
  color: var(--secondary-color);
  border-radius: 8px;

  &--simple {
    padding-left: 16px;
  }

  &--icon {
    padding-left: 53px;
    background: var(--input-bg-color); 
  }

  &::placeholder {
    color: rgba(var(--secondary-color-code), 0.5);
  }
}

.form-input__wrapper {
  width: 100%;
  position: relative;
  width: 100%;
  height: 46px;

  &--icon {
    &:after {
      content: url('../../../../assets/images/Search.png');
      position: absolute;
      top: 13px;
      left: 16px;
      opacity: 0.5;
      width: 20px;
      height: 20px;
    }
  }
}