<p>date-menu works!</p>
<app-nav-link [title]="'ddd'" classes="nav-link-sidebar fs-12-gramm-400 nav-link"></app-nav-link>
<app-nav-link [title]="'ddd'" classes="nav-link-sidebar fs-12-gramm-400 nav-link"></app-nav-link>
<app-nav-link [title]="'dsvdvvdd'" classes="nav-link-sidebar fs-12-gramm-400 nav-link"></app-nav-link>
<ul>
  <li *ngFor="let tit of titles" (click)="onClickMe()">
    <app-nav-link
      [title]="tit + 1" classes="nav-link-sidebar fs-12-gramm-400 nav-link"></app-nav-link>
  </li>
</ul>
<p>date-menu works!</p>
