.app-mutable-primary-button {
  padding: 16px 29px;
  border-radius: 8px;
  border: none;
  background: rgba(var(--secondary-color-code), 0.15);
  color: var(--secondary-color);
  text-transform: uppercase;

  &:hover {
    background-color: var(--text-color);

    & > p {
      background: var(--success-grad-light);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &:active {
    background: rgba(var(--secondary-color-code), 0.15);

    & > p {
      background: var(--text-color);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}


.app-mutable-primary-button.active {
  background: rgba(var(--text-color-code), 0.15);

  & > p {
    color: var(--text-color);
  }

  &:hover {
    background-color: var(--text-color);
  }

  &:active {
    background: rgba(var(--secondary-color-code), 0.15);

    & > p {
      background: var(--text-color);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
